<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
	<title>Compare Two Clients</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript">
		var reader = new XMLHttpRequest();
	    var checkFor = "output.html"; //Add the first link
	    var second = "alter.html"; //Add the alternative

	    reader.open('get', checkFor, true);
	    reader.onreadystatechange = checkReadyState;

	    function checkReadyState() {
	        if (reader.readyState === 4) {
	            if ((reader.status == 200) || (reader.status == 0)) {
	            document.getElementById('site').src =  checkFor;
	            }
	            else {
	           document.getElementById('site').src = second;
	            return;
	            }
	        }
	    }
	    reader.send(null);
	</script>
</head>
<body style="background-color: whitesmoke;font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">
<header class="site-header">
		  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
			  <a class="navbar-brand mr-4" href="/">Home</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarToggle">
				<div class="navbar-nav mr-auto">
					<a class="nav-item nav-link" href="/pred_future">Investment Predictions</a>
				  <a class="nav-item nav-link" href="{{ url_for('topNClients')}}">Predict Top Clients</a>
                    <a class="nav-item nav-link" href="{{ url_for('compare')}}">Compare two Clients</a>
				</div>
			  </div>
			</div>
		  </nav>
	</header>
    <div>
    	<h2 style="text-align: center; margin-top: 0%">Compare Two Clients</h2>
    </div>
    <div style="width:50%;  margin-left: 25%" >	

	<form id = "myForm" name = "Details" action = "{{url_for('script')}}" method="POST" target="output_frame">
		{{ form.hidden_tag() }}
		<div  style='float:left; width:50%; text-align:center;'>
		    <p>
		        Client Name: {{ form.client1() }}
	        </p>
			<p>
		        Legal Entity: {{form.Legal1() }}
		    </p>

		</div>

		<div  style='float:right; width:50%; text-align: center;'>
			<p>
		        Client Name: {{ form.client2() }}
	        </p>
			<p>
		        Legal Entity: {{form.Legal2() }}
		    </p>
		</div>
        <br>

		<div style=" margin-left : 30% ;" >
			<br><br>
			<label>From : </label>
			<input type="date" name="from" required>
			<br><br>
			<!---<label>Select attribute to compare : </label>
			<select  name="attribute_value">
				  {% for elem in listofatt%}
				   <option value= "{{elem}}" SELECTED>{{elem}}</option>"
				  {% endfor %}
			</select>-->
			<input type="submit" value="Submit" style=" margin-left : 20%; background-color: black; color: white;" required>
		</div>
	</form>

    </div>
    <hr> 
    
    <div style="margin-left: 15%">
    	<iframe id='site' name="output_frame" src="output.html" height=550px width=1000px>
		</iframe>
    </div>

    
    <!---
     <div style="margin-left: 20%;">
    	<iframe name="output_frame" src="output.html" height=0px width=0px>
    		
		</iframe>
    </div>--->

    <script>
      $(document).ready(function() {
        $('#client1').change(function() {

          var cl = $('#client1').val();

          // Make Ajax Request and expect JSON-encoded data
          $.getJSON(
            '/get_food' + '/' + cl,
            function(data) {

              // Remove old options
              $('#Legal1').find('option').remove();                                

              // Add new items
              $.each(data, function(key, val) {
                var option_item = '<option value="' + val + '">' + val + '</option>'
                $('#Legal1').append(option_item);
              });
            });
        });
      });


     $(document).ready(function() {
        $('#client2').change(function() {

          var cl = $('#client2').val();

          // Make Ajax Request and expect JSON-encoded data
          $.getJSON(
            '/get_food' + '/' + cl,
            function(data) {

              // Remove old options
              $('#Legal2').find('option').remove();                                

              // Add new items
              $.each(data, function(key, val) {
                var option_item = '<option value="' + val + '">' + val + '</option>'
                $('#Legal2').append(option_item);
              });
            });
        });
      });

    </script>

</body>
</html>